.app {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 100px;
}

.container {
  width: 400px;
}
.form {
  border-radius: 5px;
  display: flex;
  border: 1px solid #ddd;
  flex-direction: column;
  padding: 20px;
}

p {
  margin-top: 0;
}

input,
button {
  margin: 15px 0;
  padding: 10px;
}

.submit {
  padding: 10px;
  background-color: cadetblue;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.2s all;
}

.submit:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 15px 1px rgba(0, 0, 0, 0.24);
}

.error {
  color: red;
  font-weight: bold;
}
